@use '../../../../../../constants/styles' as *;

.container {
	display: inline-block;
	position: relative;
	width: 1ch;
	height: 160px * 0.67;
	vertical-align: top;
	overflow: hidden;

	.letter, .chosenLetter {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 200px * 0.67;
		font-weight: 700;
		letter-spacing: -2%;
		line-height: 160px * 0.67;
		font-family: 'PT Sans', sans-serif;
	}

	.chosenLetter {
		top: -340px * 0.67;
	}
	
	.letter.firstDate, .chosenLetter.firstDate {
		color: $color-date-first;
	}

	.letter.secondDate, .chosenLetter.secondDate {
		color: $color-date-second;
	}
}

