@use '../../../../../../constants/styles' as *;

.container {
	display: inline-block;
	position: relative;
	width: 1ch;
	@include scaled(height, 160px);
	vertical-align: top;
	overflow: hidden;

	.letter, .chosenLetter {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		@include scaled(font-size, 200px);
		font-weight: 700;
		letter-spacing: -2%;
		@include scaled(line-height, 160px);
		font-family: 'PT Sans', sans-serif;
	}

	.chosenLetter {
		@include scaled(top, -340px);
	}
	
	.letter.firstDate, .chosenLetter.firstDate {
		color: $color-date-first;
	}

	.letter.secondDate, .chosenLetter.secondDate {
		color: $color-date-second;
	}
}

