@use '../../constants/styles' as *;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	background-color: $color-bg-page;
}