@use '../../../constants/styles' as *;

.container {
	position: absolute;
	top: 841px * 0.67;
	left: 80px * 0.67;
	z-index: 4;
	width: 1200px * 0.67;
	max-width: calc(100vw - 80px * 0.67 * 2);

	.carouselNavButton {
		background-color: $color-white;
		border-radius: 50%;
		box-shadow: 0 0 15px 0 $color-shadow-accent;
	}

	.buttonContainerPrev {
		position: absolute;
		top: 41px * 0.67;
		left: -60px * 0.67;
	}

	.buttonContainerNext {
		position: absolute;
		top: 41px * 0.67;
		left: 1280px * 0.67;
	}
}

.swiper {
	width: 100%;
	height: 135px * 0.67;
}




