@use '../../../constants/styles' as *;

.container {
	position: absolute;
	@include scaled(bottom, 104px);
	@include scaled(left, 80px);
	z-index: 4;
	@include scaled(width, 1200px);
	max-width: calc(100vw - 80px * 2);
	@media (max-width: 1440px) {
		max-width: calc(100vw - 80px * 0.67 * 2);
	}

	.carouselNavButton {
		background-color: $color-white;
		border-radius: 50%;
		box-shadow: 0 0 15px 0 $color-shadow-accent;
		@media (max-width: 1440px) {
			box-shadow: 0 0 15px * 0.67 0 $color-shadow-accent;
		}
	}

	.buttonContainerPrev {
		position: absolute;
		@include scaled(top, 41px);
		@include scaled(left, -60px);
	}

	.buttonContainerNext {
		position: absolute;
		@include scaled(top, 41px);
		@include scaled(left, 1280px);
	}
}

.swiper {
	width: 100%;
	@include scaled(height, 135px);
}




