@use '../../../../constants/styles' as *;

.container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	top: 44.4%;
	left: 50%;

	.circle {
		position: relative;
		box-shadow: 0 0 0 1px $color-border;
		border-radius: 50%;
 
		width: 530px * 0.67;
		height: 530px * 0.67;
		transform: translate(-50%, -50%);
	}
}