@use '../../../../constants/styles' as *;

.container {
	position: absolute;
	left: 0;
	z-index: 3;
	top: 44.4%;
	left: 50%;

	.circle {
		position: relative;
		box-shadow: 0 0 0 1px $color-border;
		border-radius: 50%;
 
		@include scaled(width, 530px);
		@include scaled(height, 530px);
		transform: translate(-50%, -50%);
	}
}	