$text-color: rgba(66, 86, 122, 1);

.container {
	display: flex;
	flex-direction: column;
	margin-top: 137px * 0.67;
	pointer-events: auto;

	.currentTitle {
		font-size: 14px * 0.67;
		font-weight: 400;
		color: $text-color;
		font-family: 'PT Sans', sans-serif;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		gap: 20px * 0.67;
		margin-top: 20px * 0.67;
	}
}