.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.icon,
.iconNext {
	display: block;
	width: var(--button-size, 50px);
	height: var(--button-size, 50px);
	cursor: pointer;
}

.iconNext {
	transform: scaleX(-1);
}
