@use '../../constants/styles' as *;

.container {
	display: flex;
	flex-direction: column;

	.currentTitle {
		@include scaled(font-size, 14px);
		font-weight: 400;
		color: $color-text-primary;
		font-family: 'PT Sans', sans-serif;
	}
	
	.buttons {
		display: flex;
		flex-direction: row;
		@include scaled(gap, 20px);
		@include scaled(margin-top, 20px);
	}
	
}

@media (max-width: 768px) {

	.container {
		.currentTitle {
			font-size: 14px;
		}
	
		.buttons {
			gap: 8.33px;
			margin-top: 10.67px;
		}
	}

}


