@use '../../../constants/styles' as *;

.container {
	position: absolute;
	display: flex;
	flex-direction: column;
	inset: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: transparent;
	pointer-events: none;
}

.titleSwitcherWrapper {
	position: absolute;
	@include scaled(bottom, 295px);
	@include scaled(left, 80px);
	display: flex;
	flex-direction: column;
	pointer-events: auto;
}

@media (max-width: 768px) {
	.titleSwitcherWrapper {
		bottom: 0;
		left: 0;
	}
}