@use '../../../../constants/styles' as *;

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 431px * 0.67;
	margin-top: 170px * 0.67;

	.coloredLine {
		width: 5px * 0.67;
		height: 120px * 0.67;
		background: linear-gradient(to bottom, $color-accent-hex -10%, $color-accent-pink 90%);
		margin-right: 73px * 0.67;
	}

	.staticText {
		font-size: 56px * 0.67;
		font-weight: 700;
		line-height: 120%;
		color: $color-text-primary;
		font-family: 'PT Sans', sans-serif;
	}
}