@use '../../../../constants/styles' as *;

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	@include scaled(max-width, 431px); 
	@include scaled(margin-top, 170px);

	.coloredLine {
		@include scaled(width, 5px);
		@include scaled(height, 120px);
		background: linear-gradient(to bottom, $color-accent-hex -10%, $color-accent-pink 90%);
		@include scaled(margin-right, 73px);
	}

	.staticText {
		@include scaled(font-size, 56px);
		font-weight: 700;
		line-height: 120%;
		color: $color-text-primary;
		font-family: 'PT Sans', sans-serif;
	}
}