@use '../../constants/styles' as *;

.container {
	display: grid;
	position: relative;
	grid-template-columns: repeat(24, 1fr);
	gap: 0;
	width: 100%;
	height: 100vh;
	max-height: 100dvh;
	overflow: hidden;
	background-color: $color-bg-page;

	.backgroundImage {
		position: relative;
	}
}

@for $i from 1 through 24 {
	.colSpan#{$i} {
		grid-column-end: span $i;
	}
	.colStart#{$i} {
		grid-column-start: $i;
	}
}
