@use '../../constants/styles' as *;

.container {
	display: flex;
	flex-direction: row;

	.animatedTextLine {
		display: block;
		@include scaled(max-height, 160px);
		overflow: hidden;
	}

	.space {
		display: inline-block;
		@include scaled(font-size, 200px);
		font-weight: 700;
		letter-spacing: -2%;
		@include scaled(line-height, 160px);
		font-family: 'PT Sans', sans-serif;
		width: 1ch;
	}

	@media (max-width: 768px) {
		.animatedTextLine {
			min-height: 72px;
			max-height: 72px;
		}

		.space {
			font-size: 56px;
			line-height: 72px;
		}
	}
}
