@use '../../../../../constants/styles' as *;

$dot-color: $color-text-primary;
$dot-background-color: $color-bg-page;

.container {
	position: absolute;
	left: 50%;
	top: 50%;
	@include scaled(width, 56px);
	@include scaled(height, 56px);
	cursor: pointer;
}

.rotationWrapper {
	position: absolute;
	inset: 0;
	transform-origin: center;
	will-change: transform;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.dot {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $dot-color;
		cursor: pointer;
		transform-origin: center;
		will-change: transform;

		.dotContent {
			position: absolute;
			inset: 0;
			margin: auto;
			@include scaled(width, 54px);
			@include scaled(height, 54px);
			display: flex;
			align-items: center;
			justify-content: center;
			transform-origin: center;
			transform: scale(0);
			white-space: nowrap;
			pointer-events: none;
			@include scaled(font-size, 20px);
			font-family: 'PT Sans', sans-serif;
			color: $dot-color;
			background-color: $dot-background-color;
			border-radius: 50%;
			will-change: transform;
		}
	}
	
	.dotName {
		position: absolute;
		@include scaled(font-size, 20px);
		color: $dot-color;
		font-weight: 700;
		pointer-events: none;
		font-family: 'PT Sans', sans-serif;
	}
}

