$border-color: rgba(66, 86, 122, 0.1);

.container {
	display: flex;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	box-shadow: inset -1px 0 0 0 $border-color, inset 1px 0 0 0 $border-color;
	transform: translateZ(0);

	.horizontalLine {
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $border-color;
		top: 44.4%;
		left: 0;
	}

	.verticalLine {
		position: absolute;
		width: 1px;
		height: 100%;
		background-color: $border-color;
		top: 0;
		right: 50%;
	}
}