@use '../../../../constants/styles' as *;

.container {
	display: flex;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	box-shadow: inset -1px 0 0 0 $color-border-light, inset 1px 0 0 0 $color-border-light;
	transform: translateZ(0);

	.horizontalLine {
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $color-border-light;
		top: 44.4%;
		left: 0;
	}

	.verticalLine {
		position: absolute;
		width: 1px;
		height: 100%;
		background-color: $color-border-light;
		top: 0;
		right: 50%;
	}
}