@use '../../../constants/styles' as *;

.container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 40px);
	margin: 59px 20px 0 20px;
	padding-bottom: 29px;
	border-bottom: 1px solid $color-mobile-border-light;

	.title{
		display: flex;
		font-size: 20px;
		max-width: 123px;
		font-weight: 700;
		line-height: 120%;
		color: $color-text-primary;
		font-family: 'PT Sans', sans-serif;
	}

	.animatedTextContainer {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 72px;
		margin-top: 56px;
	}

	.currentTitle {
		display: flex;
		font-size: 16px;
		font-weight: 700;
		line-height: 120%;
		color: $color-text-primary;
		font-family: 'PT Sans', sans-serif;
		margin-top: 29px;
	}
}