@use '../../../../constants/styles' as *;

.slideContent {
	@include scaled(min-width, 320px);
	@include scaled(max-width, 400px);
	@include scaled(max-height, 135px);
	@include scaled(gap, 15px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.name {
	font-family: 'Bebas Neue', sans-serif;
	@include scaled(font-size, 25px);
	font-weight: 400;
	color: $color-text-accent;
	cursor: inherit;
}

.description {
	font-family: 'PT Sans', sans-serif;
	@include scaled(font-size, 20px);
	font-weight: 400;
	color: $color-text-primary;
	@include scaled(max-height, 135px);
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	cursor: inherit;
}
