@use '../../../../constants/styles' as *;

.slideContent {
	min-width: 320px * 0.67;
	max-width: 400px * 0.67;
	max-height: 135px * 0.67;
	gap: 15px * 0.67;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.name {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 25px * 0.67;
	font-weight: 400;
	color: $color-text-accent;
	cursor: inherit;
}

.description {
	font-family: 'PT Sans', sans-serif;
	font-size: 20px * 0.67;
	font-weight: 400;
	color: $color-text-primary;
	max-height: 135px * 0.67;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	cursor: inherit;
}
