@use '../../../constants/styles' as *;

.wrapper {
	display: inline;
	@include scaled(font-size, 200px);
	font-weight: 700;
	letter-spacing: -2%;
	@include scaled(line-height, 160px);
	font-family: 'PT Sans', sans-serif;
}

@media (max-width: 768px) {
	.wrapper {
		font-size: 56px;
		line-height: 72px;
	}
}
