@use '../../../../constants/styles' as *;

.container {
	position: absolute;
	@include scaled(bottom, 295px);
	@include scaled(left, 80px);
	display: flex;
	flex-direction: column;
	pointer-events: auto;

	.currentTitle {
		@include scaled(font-size, 14px);
		font-weight: 400;
		color: $color-text-primary;
		font-family: 'PT Sans', sans-serif;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		@include scaled(gap, 20px);
		@include scaled(margin-top, 20px);
	}
}
