@use '../../../../../constants/styles' as *;

.container {
	display: flex;
	flex-direction: row;
	
	@include scaled(margin-left, 217px);

	.animatedTextLine {
		display: block;
		@include scaled(max-height, 160px);
		overflow: hidden;
	}

	.space {
		display: inline-block;
		@include scaled(font-size, 200px);
		font-weight: 700;
		letter-spacing: -2%;
		@include scaled(line-height, 160px);
		font-family: 'PT Sans', sans-serif;
		width: 1ch;
	}
}