.container {
	display: flex;
	flex-direction: row;
	margin-left: 137px * 0.67;

	.animatedTextLine {
		display: block;
		max-height: 160px * 0.67;
		overflow: hidden;
	}

	.space {
		display: inline-block;
		font-size: 200px * 0.67;
		font-weight: 700;
		letter-spacing: -2%;
		line-height: 160px * 0.67;
		font-family: 'PT Sans', sans-serif;
		width: 1ch;
	}
}